.ag-theme-quartz {
  --ag-header-foreground-color: white;
  --ag-header-background-color: black;
  --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140);
}

.ag-theme-quartz .ag-header {
  font-family: cursive;
}

.ag-theme-quartz .ag-header-group-cell {
  font-weight: normal;
  font-size: 22px;
}

.ag-theme-quartz .ag-header-cell {
  font-size: 18px;
}

.ag-header-cell-label {
  color: #fff;
  font-family: 'Calibri', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.marketing-header {
  background-color: #41a29a;
  & :hover {
    background-color: #ec6255;
  }
}

.booking-header {
  background-color: #ec6255;
}
