@tailwind base;
@tailwind components;
@tailwind utilities;

/* Required by Typeahead (react-select) */
input[type='text']:focus {
  box-shadow: none;
}

/* Autofill styling */
.autofill-white-bg:-webkit-autofill {
  background-color: #FFF !important;
  box-shadow: 0 0 0 1000px #FFF inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #617293 #e8e8e8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #617293;
  border-radius: 14px;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.background-gradient {
  min-height: 100vh;
  background: rgb(236, 99, 86);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      90deg,
      rgba(236, 99, 86, 0.2) 3%,
      rgba(253, 206, 116, 0.2) 25%,
      rgba(65, 163, 154, 0.2) 56%,
      rgba(0, 148, 193, 0.2) 78%,
      rgba(124, 86, 142, 0.2) 100%
    );
}

.sticky-header-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.sticky-header-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky-header-table th {
  position: sticky;
  top: 0;
  font-weight: bold;
}

.sticky-header-table tbody {
  display: block;
  max-height: 500px; /* Change this to your desired max height */
  overflow-y: auto;
}

.sticky-header-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sticky-header-table td {
}

.unstyled::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
